@tailwind base;
@tailwind components;
@tailwind utilities;

html{scroll-behavior:smooth}

* {
  padding: 0;
}

@media (max-width: 1360px) {
  .element {
    width: 100vw;
  }
}

body {
  display: flex;
  justify-content: center;
}

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0E172A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #2b3c62;
  border-radius: 30px;
  background-clip: padding-box;  
}
